:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-black: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.w-1110 {
  max-width: 1110px;
}

.header-section {
  position: relative;

  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.header-section::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.headline {
  position: relative;

  padding-top: 100px;
}

.main-picture {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.orange {
  color: var(--basic);
}

.white {
  color: var(--white);
}

.columns {
  display: flex;
  padding-top: 165px;

  column-gap: 30px;
}

.columns > * {
  flex: 1;
}

.button-1 {
  position: relative;

  display: block;
  width: max-content;

  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);

  font-weight: 700;
  text-transform: uppercase;

  text-decoration: none;

  background-color: var(--basic);
}

.button-1:hover {
  background-color: #ea7600;
  cursor: pointer;
}

.video-section {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
}

.video-headline {
  margin-top: 100px;
  margin-bottom: 30px;

  text-align: center;
}

.video-caption {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.main-menu {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;

  margin-top: -100px;
  padding-top: 200px;

  background-color: var(--basic-dark);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  position: relative;

  display: block;

  width: 302px;
  margin-bottom: 20px;
  padding: 24px;

  background-color: var(--light);
}

.item-text {
  margin-bottom: 0;
}

.count {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.caption {
  width: 350px;
  margin: 0;
  padding: 0;

  font-size: 52px;

  background-color: var(--basic-dark);
}

.card:hover {
  color: var(--white);

  background-color: var(--basic);

  cursor: pointer;
}

.card:hover h3 {
  color: var(--white);
}
